
<div ng-controller="detailCtrl">

   <div ng-include="'app/templates/header.html'"></div>

<button type="button"  ng-click="ShowHide()" />Add person</button>
<input ng-model="search">
  <fieldset ng-show = "IsVisible">
      <legend>Create Person</legend>
    <input type="text" ng-model="name" placeholder="Name" ><br />
    <input type="date" ng-model="join" placeholder="join" ><br />
    <input type="text" ng-model="title" placeholder="Title" ><br />
    <button type="button" ng-click="addPerson()">Add Up</button>
    </fieldset>
    
    <table border="1" cellpadding="10">
      <thead>
        <tr>
          <th>
            Name
          </th>
          <th>
            join
          </th>
          <th>
            Title
          </th>
          <th>
           
          </th>
        </tr>
      </thead>
      <body>
        <tr ng-repeat="person in people | filter : search">
          <td>
            {{ person.name }}
          </td>
          <td>
            {{ person.join | date : "M/d/yy h:mm a" }}
          </td>
          <td>
            {{ person.title }}
          </td>
          <td>
             <button type="button" ng-click="removePerson($index)">Remove Person</button> <button type="button" ng-click="openEdit($index)" data-toggle="modal" data-target="#exampleModal">edit Person</button>
          </td>
         
        </tr>
      </body>
    </table>
    
    
    <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{selectedItem.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6">Name :-<input ng-model="selectedItem.name"> </div>
            <div class="col-lg-6"> Result
<input type="date" ng-model="selectedItem.join" /> </div>
            
          
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="saveItem()">Save changes</button>
      
      </div>
    </div>
  </div>
</div>
    
</div>