

<nav class="navbar navbar-expand-lg navbar-light bg">
    <div class="container">
  <a class="navbar-brand" ui-sref="home">Admin Section</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" ui-sref="members" ui-sref-active="active" >Members </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref="products" ui-sref-active="active">Products</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" ui-sref="reporting" ui-sref-active="active">Reporting</a>
      </li><li class="nav-item">
        <a class="nav-link" ui-sref="users" ui-sref-active="active">Users</a>
      </li>
    
    </ul>
    <ul class="form-inline my-2 my-lg-0 navbar-nav ">
        
        <li class="nav-item">
        <a class="nav-link" ui-sref="admin" ui-sref-active="active">Admin user</a>
        </li>
             <li class="nav-item">
        <a class="nav-link" ui-sref="logout">Logout</a>
        </li>
    </ul>
  </div>
        </div> 
</nav>